<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" type="text/css" href="assets/css/form-reset.css" />
    <title>Link CSS to HTML</title>
</head>

<form id="fs-frm" name="complaint-form" accept-charset="utf-8" action="https://formspree.io/f/moqokgyb" method="post">
    <fieldset id="fs-frm-inputs">
      <label for="full-name">Your Name</label>
      <input type="text" name="name" id="full-name" placeholder="John Doe" required="">
      <label for="email-address">Email Address</label>
      <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
      <label for="telephone">Telephone Number (Optional)</label>
      <input type="telephone" name="telephone" id="telephone" placeholder="(555) 555-5555">
      <label for="complaint">Your Message</label>
      <textarea rows="6" name="complaint" id="complaint" placeholder="Say Hi" required=""></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission">
    <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></fieldset>
    <input type="submit" value="Send Message">
  </form>