<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>1540 1/2 S Main St.</li>
    <li>Ottowa, KS 66067</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Service Guru</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+19136699829</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:service@serveus.guru">service@serveus.guru</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://wwww.serveus.guru">https://www.serveus.guru</a></li>
  </ul>
</div>
