<div class="contact">
  <h2>Contact Us</h2>
 <p>Whether you need an HVAC system serviced or just want to say Hi, we are happy to hear from you.</p>
  <ul>
    <li><span class="li-icon">{% include svg/clock.svg %}</span><span>Monday through Friday 8-5pm</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1(913)669-9829</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:service@serveus.guru">service@ServeUs.guru</a></li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Service Guru HQ</span></li>
    <li>&emsp;&ensp;1540 1/2 S Main St.</li>
    <li>&emsp;&ensp;Ottawa, KS 66067</li>
  </ul>
</div>
